


/*--General--*/



html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

i{
    color:#b0afaf;
    

}

ul{padding:0;
}

li a{
    text-decoration:none;
  

}


.style_inline{
    display:inline-block;
    list-style:none;
    text-decoration: none;
   
}

.color_links{
    color:black;

}

.style_block
{
    display:block;
    list-style:none;
    text-decoration: none;
    margin-top:.5em;
    
   
}


/*----header--------*/

.logo{
    margin:1.5em;
   }

/*---typography---*/



.large_text a{
    margin:7em;
    padding:0;
    font-family:"Roboto", sans-serif;
    font-size:2em;
    font-weight:900;
    color:#fff;
   text-decoration:none;
}


.bold{
    font-weight:700;
}


h2{
    font-family:'Roboto',sans-serif;
   font-size: 2em;
}


p{
    font-family:'nunito',sans-serif;
}

nav{
    font-family:'Roboto', sans-serif;
    margin:0;
    padding:0;

}



/*---spacing--*/




/*---hero image---*/
.hero{
    display:flex;
    justify-content:center;
     width:100vw;
    height:100vh;
    background-position:center center;
    background-image:url('../images/StlHero.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    
}

.large_text a:hover{
    color:grey;
}

/*h1{
    
  position:relative;
  left:4.1em;
  top:.2em;
    font-family:'Roboto', sans-serif;
    font-size:5em;
    font-weight:900;
    color:white;
   margin:0;
   


}

#h1bg{
    position:relative;
    width: 75%;
    height: 130px;
    background-color: #646363;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1em;
    margin-bottom: 2em;
    left:-20em;
   
   
    
}*/

#sticky{
    position:sticky;
    width: 75%;
    top:0;
    height: 130px;
    background-color: #646363;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left:-20em;

}

.icons{
    position:absolute;
    background-color:white;
    margin:0;
    padding:.5em;
    margin-right:4em;
    border-bottom: 2px solid #000;
    border-left:2px solid #000;
    border-right:2px solid #000;


}

.flex_icons{
    position:relative;
    display:flex;
    justify-content:flex-end;

}

.icons a i:hover{
    color:#9e463c;

}



/*---nav----*/



nav{
    border-top:solid 2px #000;
    border-bottom:solid 2px #000;
}


nav ul{

    padding:0;
    margin:0;
}


nav ul li{
    display:block;
    list-style-type:none;
    padding:0;
    margin:0;
    
    

}
nav ul li a {
    display:block;
    text-decoration: none;
    color:#b0afaf;
    font-size:1em;
    padding:.5rem  4%;
    margin:0;
   
   
}



}


.large_text a:hover{
    color: #9e463c;

}




/*----------------------------------------------*/

.contentBox{
    padding:1em;
    box-shadow:  0 0 .5em ;
    margin:auto;
    margin-top:5em;
    margin-bottom:3em;
    
    border-radius:20px;
    max-width:90%;

}

.contentBox img{
    border: 2px solid #000;
    padding:.5em; 
}





.clearfix:after{
    content:"";
    display:table;
    clear:both;
}



/*----Blog Style---*/

#grid{
    display:grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    grid-gap:20px;
    margin-top:3em;
    justify-items: center;

}

.grid2{

    display:grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
    grid-gap:1px;
    justify-items: center;
   
    
    

}

#intro{
    margin-top:175px;;
}
#icons{
    margin-top:175px;

}

#campaign{
    margin-top:190px;

}


/*---Portfolio--*/

video{
    background-color:#000;
}

.titles{

    font-family:Nunito;
    font-size:2em;
    font-weight:200;

}
  

.shadow :hover{
    box-shadow: 0 0  50px #000;

}



.shadow :active{
    box-shadow: 0 0 50px #000;

}


#gridparent img{
    width:300px;
    height:200px;

}



/*footer*/
#design{
    margin-bottom:-.2em;
    max-width:100%;
    height:auto;
   
   
   

}




footer ul{
    padding-top:2em;
    color:white;

}

footer li{
    list-style-type:none;
    display:inline;
    margin:0;
}

footer li a{
    display:inline;
}

footer p{
    color:white;
}

footer{
    border-top:solid 2em#b0afaf;
    background-color:#000;
    padding-bottom:2em;
  
}

footer a{
    color:white;
    text-decoration:none; 
   
}




/*----Form style------*/
form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    justify-content:center;
}

fieldset{
    margin-top:3rem;
    border-radius:10px;
    border-style:none;
    padding:1rem;
    box-shadow:  0 0 .5em ;
    
}

#button{
    font-size:1rem;
    margin-top:1em;
    background-color:green;
    font-weight:bold;
    color:white;
    border-radius:2px;
    padding:.75em;
    width:8em;
    

}


/*--------------querries-----------------------------*/


/*-------------------mobile-------*/

@media (min-width:320px){

.hero{
    
    text-align:center;
}

    
/*Nav Button and menu*/

.center{
    text-align: center;
}

nav button{
    background-color:transparent;
    border:none;
    margin:.2em 2%;
    font-size: 1.6rem;
    color:#000;

}

nav ul.hide{
    display:none;
}



.flex_column{
    display:flex;
    flex-direction:column;
    
    }

   /* Portfolio Grid*/

    .gridparent{
        display:grid;
        grid-template-columns: 1frr; 
        grid-gap:20px;
        margin:auto;
        margin-top:3em;
        justify-items: center;
        
    
    }

  


}


/*---desktop------*/


@media (min-width:601px){

fieldset{
    margin-top:3rem;
    border-radius:10px;
    border-style:none;
    padding:1rem;
    box-shadow:  0 0 .5em ;
    margin:2em 1em 0 0;
}
    
 

/*--hero image--*/
.hero{
    align-items:center;
    text-align:center;
}

.large_text a{
    width:100%;
    max-width:100%;
    margin:5em;
    padding:0em;
    font-family:"Roboto", sans-serif;
    font-size:4em;
    font-weight:900;
    color:#fff;
   text-decoration:none;
}


.large_text a:hover{
    color:#9e463c;
}




/*---nav---*/

nav ul.flexcontainer{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap:wrap;
    padding:0;
   


}nav.flexcontainer{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap:wrap;
    padding:0;

}



.flexcontainer_center{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap:wrap;
    padding:0;

}

 nav ul .active a:after{
    display: block;
    content: "";
    position: relative;
     width: 0px;
     height: 3px;
     background-color:#9e463c;
     transition: width 0.2s, left 0.2s;
 }

 nav ul .active a:hover::after, nav ul .active  a:focus::after {
    width: 115%;
    left: 0;
  }

.flexcontainer_flexend{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-end;
}

.active{
    padding: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
}

nav ul a:hover{
    color:#9e463c;
    font-weight:bold ;
    background: transparent;
   
   
    

}
nav ul a:active{
    color:#9e463c;
    font-weight:bold ;
    background: transparent;
    
}



nav button{
    display:none;
}

.gridparent{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto;
    grid-gap:20px;
    margin-top:8em;
    margin-bottom:20em;
    justify-items: center;
    

}

}











