<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/css.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito%7cRoboto:700,900" rel="stylesheet"> 
        <title>Iterstice Design Blog</title>
    </head>
    <body>
        <header>
            <picture>
                <source media="(max-width:600px)" srcset="images/intersticeLogo-01.svg">
                    <source media="(min-width:601px)" srcset="images/intersticeLogo-01.svg">
                <img id="logo" src="images/intersticeLogo-01.svg" alt="interstice design logo">
            </picture>
        </header>
        <nav>
                <ul id="flexcontainer">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="blog.html">Blog</a></li>
                    </ul>

        </nav>
        <main id="clearfix">
            <div id="sticky">
                
            
            <h1>Blog</h1>
        </div>
            <div class="contentBox ">
                    <div class="grid2">
                        <div>
                           <h2>Current Work</h2>
                           <img src="images/Bird.png" alt="current work">
                        </div>
                    <p id="intro">This will be a place to see what I am currently working on, and to follow my progression on any particular project.
                    It will have art in progress, sketches, pencil tests, etc.
                    </p>
                </div>

                </div>


                <div class="contentBox" id="grid">
                    <h2>Comm 130</h2>
                    <p>This was an ad campaign project for Vans created last fall in my Comm130 class.
                        </p>
                    <img src="images/Slides_Draft.jpg" alt="vans slides">
                    <img src="images/Slides_Draft2.jpg" alt="vans slides">
                    <img src="images/Slides_Draft3.jpg" alt="vans slides">
                    <img src="images/Slides_Draft4.jpg" alt="vans slides">
                    <img src="images/Slides_Draft5.jpg" alt="vans slides">
                    <img src="images/Slides_Draft6.jpg" alt="vans slides">
                    <img src="images/Slides_Draft7.jpg" alt="vans slides">
                    <img src="images/Slides_Draft8.jpg" alt="vans slides">
                    <img src="images/Slides_Draft9.jpg" alt="vans slides">
                    <img src="images/Slides_Draft10.jpg" alt="vans slides">
                   
    
                    </div>

                    <div class="contentBox">
                            <div class="grid2">
                                <div>
                                   <h2>Comm 130 </h2>
                                   <img src="images/magazineAd.jpg" alt="Magazine Add">
                                </div>
                                   <p id="campaign">This is a creative add created with Photoshop in my Comm130 class.
                                   </p>
                             </div>
                    </div>

                <div class="contentBox">
                        
                    
                      <div class="grid2">
                          <div>
                             <h2>Comm 130</h2>
                             <img src="images/Icons.png" alt="icons">
                          </div>
                          <p id="icons">These are a set of web icons created last fall in my Comm130 class.
                            I really enjoyed making these. It was probably my favorite project in class.
                           </p>
                      </div>
    
                    </div>
           

        </main>
        <img id="design" src="images/DESIGN1504x146.png" alt="design text">
        <footer>
            <ul>
                <li>&copy; Greg La Plant 2019 | </li>
                <li><a href="mailto:abc@google.com">Greg's email@gmail.com</a> | </li>
                <li><a href="styleguide.html" target="_blank">style guide</a> | </li>
                <li><a href="practice/index.html" target="_blank">practice site</a></li>
            </ul>

        

        </footer>
    </body>
</html>