<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
      
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/css.css">
        <link rel="stylesheet" type="text/css" href="css/large.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,800,900o%7cRoboto:700,900" rel="stylesheet">  
        <title>Iterstice Design Portfolio</title>
        <script src="https://use.fontawesome.com/4edd92fea5.js"></script>
        <script src="scripts/hamburger.js"></script>
    </head>
    <body>
            <header class=>
                       
                    <div class="flexcontainer_center">
                        <img class="logo" src="images/intersticeLogo-01.svg" alt="interstice design logo">
                </div>
                    </header>
            <nav>
                    <button class="hide" onclick="toggelMenu()">&#9776;</button>
                    
                    <ul id="nav_button" class="flexcontainer flex_column hide">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li class="active"><a href="about.html">About</a></li>
                            <li class="active"><a href="portfolio.html">Portfolio</a></li>
                            <li class="active"><a href="print.html">Print</a></li>
                            <li class="active"><a href="motion.html">Motion</a></li>
                            <li class="active"><a href="web.html">Web</a></li>
                    </ul>
        
                </nav>
                <main>
                    <div class="flex_icons">
                        <div class="icons">
                                <a href="mailto:laplant.g@gmail.com"><i class="fa fa-google fa-2x" aria-hidden="true"></i>
                                </a>
                                <a href="tel:+3145269440"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></a>
         
                                 <a href="https://glaplant.github.io/CIT230/assignments/temple/index.html"><i class="fa fa-github fa-2x"></i></a>
                                 <a href="https://www.behance.net/glaplant" ><i class="fa fa-behance fa-2x" aria-hidden="true"></i>
                                 </a>
                         </div>
                        </div>
                        <div class="gridparent">
           
            
                               
                             
                            </div>
            
                    </main>
                    <img id="design" src="images/DESIGN1504x146.png" alt="design text">
                    <footer>
                        <ul>
                            <li>&copy; Greg La Plant 2019 | </li>
                            <li><a href="mailto:laplant.g@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                            </a> | </li>
                        </ul>
            
                    
            
                    </footer>
                </body>
            </html>